<div class="flex-container-btn">
  <a routerLink="/stock" class="btn btn-link">
    <i class="fa fa-arrow-circle-o-left"></i> Back to stock
  </a>
  <div class="btn-group pull-right">
    <a routerLink="/stock/info/{{isin}}" class="btn btn-dark">
      Info
    </a>
    <a routerLink="/stock/edit/{{id}}" class="btn btn-dark">
      Edit
    </a>
    <a (click)="onDeleteClick()" class="btn btn-danger">Delete</a>
  </div>
</div>
<div *ngIf="overview" class="flex-container-content">
  <ul class="list-group">
    <li class="list-group-item">ID: {{overview.id}}</li>
    <li class="list-group-item">ISIN: {{overview.isin}}</li>
    <li class="list-group-item">Name: {{overview.name}}</li>
    <!--li class="list-group-item">Cash: {{overview.cash | currency:'EUR':true}}</li-->
  </ul>
</div>