<div class="flex-container-btn">
  <div class="col">
    <a routerLink="/stock" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to stock
    </a>
  </div>
  <div>
    <div class="btn-group pull-right">
      <a routerLink="/stock/edit/{{id}}" class="btn btn-dark">
        Edit
      </a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<div *ngIf="overview" class="flex-container-content">
  <ul class="list-group">
    <li class="list-group-item">ID: {{overview.id}}</li>
    <li class="list-group-item">ISIN: {{overview.isin}}</li>
    <li class="list-group-item">Name: {{overview.name}}</li>
    <!--li class="list-group-item">Cash: {{overview.cash | currency:'EUR':true}}</li-->
  </ul>
</div>