.flex-container{
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #1671da;
  
 }

.nav-link{ font-size: 1.5em }
.navbar-brand{
  font-size: 1.5em;

}

@media screen and (max-width: 520px) {
  .flex-container {
    width:555px;
    justify-content: center;
    margin-left: 0;
   margin-right:0;
   
  }
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

::ng-deep .menucus ul li:nth-child(1) {
  background: #5393bc;
}
::ng-deep .menucus ul li:nth-child(2) {
  background: #5393bc;
}
::ng-deep .menucus ul li:nth-child(3) {
  background: #5393bc;
}
::ng-deep .menucus ul li:nth-child(4) {
  background: #5393bc;
}
::ng-deep .menucus ul li:nth-child(5) {
  background: #5393bc;
}
::ng-deep .ui-menu .ui-menuitem .ui-menuitem-link:hover{
  background-color: #5393bc;
}
::ng-deep .ui-menu,.ui-menu .ui-menu-child{
  border: 0px;
  background:#5393bc 0 0 repeat-x !important;
}
::ng-deep .ui-menu .ui-menuitem .ui-state-active{
  background-color: #5393bc;
}
::ng-deep .ui-menu .ui-menuitem.ui-menuitem-active>.ui-menuitem-link,
.ui-menu .ui-menuitem .ui-menuitem-link:hover{
  background-color:#186ba0;
}

