<div class="flex-container">
  <!--div class="col-sm col-md col-lg"-->
  <!--nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4"-->
  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Overview</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <!--ul class="navbar-nav mr-auto"-->
        <ul class="navbar-nav mr-auto justify-content-between">
          <li class="nav-item">
            <a routerLink="/stock" class="nav-link">Stocks</a>
          </li>
          <li class="nav-item">
            <a routerLink="/invest" class="nav-link">Invests</a>
          </li>
          <li class="nav-item">
            <a routerLink="/linechart" class="nav-link">Linechart</a>
          </li>
          <li class="nav-item">
            <a routerLink="/gpio" class="nav-link">GPIO</a>
          </li>
          <li class="nav-item">
            <a routerLink="/telegram" class="nav-link">Telegram</a>
          </li>
        <li class="nav-item">
          <a routerLink="/django" class="nav-link">Django</a>
        </li>
      </ul>
        <ul class="navbar-nav  navbar-right">
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a routerLink="/register" class="nav-link">Register</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a href="#" class="nav-link">{{ loggedInUser }}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a routerLink="/settings" class="nav-link">Settings</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a href="#" (click)="onLogoutClick()" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>