<div class="flex-container-btn">
  <a routerLink="/invest" class="btn btn-link">
    <i class="fa fa-arrow-circle-o-left"></i> Back to invest
  </a>
  <div class="btn-group pull-right">
    <a routerLink="/invest/edit/{{id}}" class="btn btn-dark">
      Edit
    </a>
    <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
  </div>
</div>
<div *ngIf="inv" class="flex-container-content">

  <ul class="list-group">
    <li class="list-group-item">ID: {{inv.id}}</li>
    <li class="list-group-item">Date: {{inv.date}}</li>
    <li class="list-group-item">Amount: {{inv.amount | currency:'EUR':true}}</li>
  </ul>

</div>