<div class="flex-container-btn">
  <div>
    <h2><i class="fa fa-users"></i>Cash & Depot</h2>
  </div>
</div>

<div class="flex-container-content">
  <table *ngIf="overviews?.length >0; else noOverviews" class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 50px;">Date</th>
        <th>Depot</th>
        <th>Cashkonto</th>
        <th style="width: 60px;">Details</th>
        <th style="width: 50px;">New</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let overview of overviews; let i = index">
        <td>{{dateOverview[i]}}</td>
        <td>{{overview.depot | currency:'EUR':true}}</td>
        <td>{{overview.cash | currency:'EUR':true}}</td>
        <td><a routerLink="overview/{{overview.id}}" class="btn btn-secondary"><i
              class="fa fa-arrow-circle-o-right center"></i>Details</a></td>
        <td> <a routerLink="/overview/add" class="btn btn-success">
            <i class="fa fa-plus"></i> New
          </a></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noOverviews>
  <hr>
  <h5>There are no overviews found</h5>
</ng-template>