<div class="flex-container-btn">
  <i class="fa fa-users flex-container-btn" style="font-size:2.5em;">Cash & Depot</i>
</div>

<div class="flex-container-btn">
  <table *ngIf="overviews?.length >0; else noOverviews" class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Date</th>
        <th>Depot</th>
        <th>Cashkonto</th>
        <th>Details</th>
        <th>New</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let overview of overviews; let i = index">
        <td>{{dateOverview[i]}}</td>
        <td>{{overview.depot | currency:'EUR':true}}</td>
        <td>{{overview.cash | currency:'EUR':true}}</td>
        <td><a routerLink="overview/{{overview.id}}" class="btn btn-secondary btn-xs"><i
              class="fa fa-arrow-circle-o-right center"></i></a></td>
        <td> <a routerLink="/overview/add" class="btn btn-success btn-xs">
            <i class="fa fa-plus"></i>
          </a></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noOverviews>
  <hr>
  <h5>There are no overviews found</h5>
</ng-template>