<div class="row flex">
  <!--div class="col-lg-9 col-sm-6 col-xs-6"-->
  <div class="item">
    <h2><i class="fa fa-users"></i>Cash & Depot</h2>
  </div>
  <!--div class="col-lg-3 col-sm-6 col-xs-6  mr-auto"-->
  <div class="item1">
    <a routerLink="/overview/add" class="btn btn-success btn-block">
      <i class="fa fa-plus"></i> New
    </a>
  </div>
</div>
<div>
  <!--div class="col-sm-12 col-md-12 col-lg-12 col-xs-12"-->
  <div class="row flex1">
    <table *ngIf="overviews?.length >0; else noOverviews" class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Date</th>
          <th>Depot</th>
          <th>Cashkonto</th>
          <th class="my">Details</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let overview of overviews; let i = index">
          <td>{{dateOverview[i]}}</td>
          <td>{{overview.depot | currency:'EUR':true}}</td>
          <td>{{overview.cash | currency:'EUR':true}}</td>
          <td><a routerLink="overview/{{overview.id}}" class="btn btn-secondary"><i
                class="fa fa-arrow-circle-o-right center"></i>Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #noOverviews>

  <hr>
  <h5>There are no overviews found</h5>
</ng-template>