

<h5>Basic</h5>
<div class="p-d-flex p-ai-center">
    <p-chip label="Action" styleClass="p-mr-2"></p-chip>
    <p-chip label="Comedy" styleClass="p-mr-2"></p-chip>
    <p-chip label="Mystery" styleClass="p-mr-2"></p-chip>
    <p-chip label="Thriller" [removable]="true"></p-chip>
</div>

<h5>Icon</h5>
<div class="p-d-flex p-ai-center">
    <p-chip label="Apple" icon="pi pi-apple" styleClass="p-mr-2"></p-chip>
    <p-chip label="Facebook" icon="pi pi-facebook" styleClass="p-mr-2"></p-chip>
    <p-chip label="Google" icon="pi pi-google" styleClass="p-mr-2"></p-chip>
    <p-chip label="Microsoft" icon="pi pi-microsoft" [removable]="true"></p-chip>
</div>

<p-table [columns]="cols" [value]="products">
  <ng-template pTemplate="caption">
Users List
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{user[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
