<p-table [value]="products" dataKey="name" editMode="row" [paginator]="true" [rows]="10"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Second name</th>
            <th>Age</th>
            <th>Salery</th>
            <th>Code ID</th>
            <th>Mobile</th>
            <th>Is active</th>
            <th>Is motivated</th>
            <th>Active</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.name">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.nach_name">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.nach_name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.age">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.age}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.salery">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.salery}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.code_id">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.code_id}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.mobile">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.mobile}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.is_activate">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.is_activate}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.is_motivated">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.is_motivated}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.activity">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.activity}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-user-edit"
                    class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                    class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                <button *ngIf="editing" pButton type="button" (click)="openNew()" pCancelEditableRow
                    icon="pi pi-plus-circle" class="p-button-danger" (click)="onRowAdd(rowData, ri)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-trash"
                    class="p-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>