<div class="row">
  <div class="col-md-10">
    <h2><i class="fa fa-university"></i>Stocks</h2>
  </div>
  <div class="col-md-2">
    <a routerLink="/stock/add" class="btn btn-success btn-block">
      <i class="fa fa-plus"></i> New stock
    </a>
  </div>

</div>
<div class="row">
  <div class="col-sm col-md col-lg">
    <table *ngIf="stocks?.length >0; else noStocks" class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <!--th>ID</th-->
          <th>Name</th>
          <th>ISIN</th>
          <th>Details</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <!--td>{{stock.id}}</td-->
          <td>{{stock.name}}</td>
          <td>{{stock.isin}}</td>
          <td><a routerLink="/stock/{{stock.id}}" class="btn btn-secondary btn-sm"><i
                class="fa fa-arrow-circle-o-right"></i>Details</a></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
<ng-template #noStocks>

  <hr>
  <h5>There are no stocks found</h5>
</ng-template>